body {
  font-family: 'Open Sans';
  max-width:1000px;
  font-size:1.4em;
  line-height:1.6em;
}
div.container-fluid {
	width:85%;
	font-size:100%;
}


div.tool-header div.tool-intro {
    padding: 15px 25% 15px 15px;
    /* max-width: 800px; */
    margin-bottom: 35px;
    border-bottom: solid 3px #8C866B;
  }
div.breadcrumb {
	color:#56ACE0;
	text-transform:uppercase;
	font-size:1.1em;
	font-weight:bold;
}

div.tool-help{
  width:80%;
  margin:0px auto;
}
.row {
	margin-top:35px;
}
.container {
  width:925px;
  margin:0 auto;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
#content-container {
  width: 75%;
  display:inline-block;
  background-color:#FBFAF8;
  padding:10px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 100%;
}
#side-box-container {
  width:24%;
  display:inline-block;
  float:right;
  margin-left:5px;
  height: 100%;
}
div.side-box {
  width:100%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding:10px;
  margin-bottom: 5px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
}
div.side-box-last {
  width:100%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding:10px;
  margin-bottom: 0;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
}
ul {
  padding-left:20px;
}
ul.no-bullet {
	list-style-type: none;
}
hr {
  border-width: 3px;
  border-color:#B8B28F;
  width:100%;
}
h2,p.clickable {
  cursor:pointer;
}
h2 {
  font-size:20px;
  font-weight:bold;
  margin-top: 5px;
}
h3 {
  color:#8C866B;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top:5px;
}
h4 {
  font-size:15px;
  font-style:italic;
  font-weight:300;
}
div.header-section {
}
div.body-section {
  margin-left:5%;
}

div.tool-questions {
	padding:25px;
}
div.step {
  width:100%;
  display:inline-block;
}
div.step-header {
  width:65%;
  display:inline-block;
}
div.step-subquestion {
	    margin: 5px 25px 0 25px;
	font-size:1.1em;
}
div.step-action {
 margin:0 0 25px 25px;
  display:inline-block;
  font-size:1.1em;
  width:100%
}
div.step-action label {
  display:none;
}
div.step-action-long {
  width:75%;
  display:inline-block;
}

div.step-to-consider {
	padding:20px;
	background-color:#F4F2EB;
}
div.step-to-consider h3 {
	transform-text:uppercase;
	color:#8C866B;
	font-weight:bold;
	margin-bottom:20px;
}
div.step-to-consider p {
	margin-bottom:20px;
}

div.step-to-consider .btn {
	float:right
	padding:5px;
}

div.step-info {
  width:65%;
  display:inline-block;
}
div.step-example-box {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
  margin-bottom:5px;
}

#step-height {
	height:45px;
	margin-bottom:3px;
  vertical-align:top;
}
div.action-buttons {
  margin-left:70%;
}
div.action-buttons > button {
  background-color: #58A5D5;
  color:white;
  text-transform: uppercase;
  font-size:12px;
  padding:10px;
  border-radius:8px;
}
div.step-action > button {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
div#upload {
  width: 50%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
  height:35px;
}
div > select,input,textarea {
	width:95%;
	padding-left:5px;
  border-radius: 5px;
  border-color: #B8B28F;
  border-style: solid;
  border-width: 1px;

}
p > select,textarea,input {
  border-color: #B8B28F;
  border-radius: 5px;
}
textarea {

  height:auto;
}
textarea.simplebox{
  width:auto;
  height:24px;
  font-size:.8em;
}
div.selectize-input {
  border-color:#B8B28F;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
.selectize-control.single .selectize-input:after {
  border-color: #B8B28F transparent transparent transparent !important;
}
input#file-box {
  width: 20%;
  font-style:italic;
  border:none;
}
#file-box, #browse-button {
    position:absolute;
    cursor:pointer;
    margin-top:-5px;
}
#browse-button {
  margin-left:0px;
  margin-top: -4px;
  text-transform: uppercase;
}
#wrapper {
    opacity : 0;
    overflow: hidden;
    width: 300px;
    height : 30px;
    padding:0;
    margin:0;
}
#wrapper > input {
  cursor:pointer;
}
.clearfix {
	clear:both;
	line-height:0;
}

.means-table {
  border: 1px #000000 solid;
  border-spacing: 0;
}

.stats {
  text-align: center;

}

td {
  border: 1px #000000 solid;
  padding: 10px;
}

